@using Sorcery.Blogging;

@foreach (var tag in Tags.Take(Tags.Count - 1))
{
    <span><Sorcery.Shared.Components.Link Typo="@Typo.inherit" Href="@($"/sourcery/tags/{tag}")">@tag</Sorcery.Shared.Components.Link>, </span>
}

@if (Tags.Any())
{
    <Sorcery.Shared.Components.Link Typo="@Typo.inherit" Href="@($"/sourcery/tags/{Tags[^1]}")">@Tags[^1]</Sorcery.Shared.Components.Link>
}

@code {
    [Parameter]
    [EditorRequired]
    public IReadOnlyList<Tag> Tags { get; set; } = Array.Empty<Tag>();
}
