@using System.Web;
@using Sorcery.Blogging;

<a href="@Post.Route">
    <MudCard Class="mud-button mud-ripple" Elevation="5" @attributes="@Attributes">
        <MudCardHeader>
            <CardHeaderContent>
                <div class="d-flex gap-4">
                    <div class="d-flex flex-grow-1" style="width: 80%">
                        <MudText Typo="Typo.h6" Color="Color.Primary">@HttpUtility.HtmlDecode(Post.Title)</MudText>
                    </div>
                    <div class="d-flex flex-grow-1" style="width: 20%; text-align: left">
                        <MudText Typo="Typo.caption" Style="width: 100%">Published: @Post.DateOfPublication?.ToString("yyyy-MM-dd")</MudText>
                    </div>
                    <div class="d-flex" style="width: 20%; text-align: left">
                        <MudText Typo="Typo.caption" Style="width: 100%">Tags: <BlogPostTags Tags="@Post.Tags" /></MudText>
                    </div>
                </div>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @Post.Description
        </MudCardContent>
    </MudCard>
</a>

@code {
    [Parameter]
    [EditorRequired]
    public Post Post { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new();
}
