@using Sorcery.Blogging;

@foreach (var tag in Tags.Take(Tags.Count - 1))
{
    <span><MudLink Typo="@Typo.inherit" Href="@($"/sourcery/tags/{tag}")">@tag</MudLink>, </span>
}

@if (Tags.Any())
{
    <MudLink Typo="@Typo.inherit" Href="@($"/sourcery/tags/{Tags[^1]}")">@Tags[^1]</MudLink>
}

@code {
    [Parameter]
    [EditorRequired]
    public IReadOnlyList<Tag> Tags { get; set; } = Array.Empty<Tag>();
}
